<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006734785953-uo96rsft8q8fsr2s6605tsr0iranjkl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006734785953-uo96rsft8q8fsr2s6605tsr0iranjkl8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYOS5w_ahlCCne27mUFS2NprnHVfsAiYs</string>
	<key>GCM_SENDER_ID</key>
	<string>1006734785953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>scyies.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-63614</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-63614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006734785953:ios:3473089ca6739217125fe0</string>
</dict>
</plist>